/* Custom styles for the modal */
.modal-content {

    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-header .close {
    margin: -1rem -1rem -1rem auto;
}

.modal-title {
    margin: 0;
}

.modal-body {
    text-align: center;
    padding: 20px;
}

.modal-body .form-group {
    margin-bottom: 10px;
}

.modal-body .form-group label {
    margin-bottom: 5px;
}

.modal-body .form-control {
    border-radius: 5px;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.add-account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-account input{
    padding-left: 10px;
    width: 100%;
}