<div class="navbarsmall">
  <div class="nav-links-small">
    <div class="nav-items">
      <div class="hamburgers" onclick="toggleMenu(this)">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <a href="landing_page.php">Home</a>
      <a href="dashboard.php">Dashboard</a>
      <a href="about.php">About</a>
      <a href="contact.php">Contact Us</a>
    </div>
    <a class="login-btn" href="#" data-toggle="modal" data-target="#myModal"
      >Logout</a
    >
  </div>
</div>
