body::-webkit-scrollbar {
    width: 12px; 
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #f6f6f9; 
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #f6f6f9; 
  }
  .dashboard-form::-webkit-scrollbar {
    width: 12px; 
  }
  
  /* Handle on hover */
  .dashboard-form::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
  }
  
  /* Handle */
  .dashboard-form::-webkit-scrollbar-thumb {
    background: #f6f6f9; 
  }
  
  /* Track */
  .dashboard-form::-webkit-scrollbar-track {
    background: #f6f6f9; 
  }


  .img-cont::-webkit-scrollbar {
    width: 12px; 
  }
  
  /* Handle on hover */
  .img-cont::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
  }
  
  /* Handle */
  .img-cont::-webkit-scrollbar-thumb {
    background: #006023; 
  }
  
  /* Track */
  .img-cont::-webkit-scrollbar-track {
    background: #f6f6f9; 
  }