body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../images/booking_system.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    letter-spacing: 1px;
    overflow: hidden;
}
 
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(255,255,255,0.15);
    align-items: center;
    box-shadow: 5px 5px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
    align-items: center;
    text-align: center;
}

.navbar a {
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: none;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    height: calc(100vh - 140px);
    align-items: center;
    width: 100%;
}

.dashboard-box {
    display: flex;
    width: 100%;
    max-width: 1400px;
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-form {
    width: 90%;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
}

.pagination-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
    display: none; 
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    font-size: 24px;
    width: 50px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    display: none !important;
}

.icon {
    margin-right: 5px;
}

.select select{
    border-radius: 10px;
    border: none;
}

.inp input{
    border-radius: 10px;
    border: none;
}
.dashboard-form h2 {
    letter-spacing: 3px;
    font-size: 24px; /* Larger heading for prominence */
    color: black; /* Blue color for the heading */
    margin-bottom: 15px; /* Space below the heading */
    text-align: center; /* Center align the heading */
}

.dashboard-form p {
    font-size: 16px; /* Standard size for paragraph text */
    line-height: 1.6; /* Improved readability with line spacing */
    margin-bottom: 15px; /* Space between paragraphs */
    text-align: justify; /* Justify text for clean edges */
}
.about-cont{
    background-color: rgb(0 84 6);
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}
.about{
    padding: 30px;
    color: silver;
    margin-top: 10%;
}
.about h1{
     width: 100%;
}
.us{
    padding: 30px;
    background-color: gainsboro;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    border: 1px solid darkgrey;
}